<html>
    <head>
        <title> flask-react | 404 </title>
        <link rel="stylesheet" href="../static/main.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="page404">
            <h1 class="page404text-large"> 404 </h1>
            <h3 class="page404text-medium"> No such page exists </h3>
            <button class="page404button" onclick="returnHome()"> Return Home </button>
        </div>
        <script src="../static/bundle.js"></script>
        <script type="text/javascript">
            function returnHome() {
                window.location.href="/"
            }
        </script>
    </body>
</html>